/* created by cornelis bosua 8/4/14 */

/* ----------------- fonts to import --------------------- */
@import url(http://fonts.googleapis.com/css?family=Lobster);
/* font-family: 'Lobster', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Pacifico);
/* font-family: 'Pacifico', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/* font-family: 'Ubuntu', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Raleway);
/* font-family: 'Raleway', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Dosis);
/* font-family: 'Dosis', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Abel);
/* font-family: 'Abel', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
/* font-family: 'Josefin Sans', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Quicksand);
/* font-family: 'Quicksand', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
/* font-family: 'Poiret One', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
/* font-family: 'Droid Sans', 'sans-serif'; */
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
/* font-family: 'Permanent Marker', 'cursive'; */
@import url(http://fonts.googleapis.com/css?family=Philosopher);
/* font-family: 'Philosopher', sans-serif; */

@import url(http://fonts.googleapis.com/css?family=Oswald);
/* font-family: 'Oswald', sans-serif; */

@font-face
{ font-family: rc; src: url(../fonts/rc.ttf); }
@font-face
{ font-family: lakes; src: url(../fonts/lakes.ttf); }
@font-face
{ font-family: japan; src: url(../fonts/Japan.ttf); }


/* funky for title */
@import url(http://fonts.googleapis.com/css?family=Monofett);
/* font-family: 'Monofett', cursive; */

@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
/* font-family: 'Patrick Hand SC', cursive; */

@import url(http://fonts.googleapis.com/css?family=Sigmar+One);
/* font-family: 'Sigmar One', cursive; */

@import url(http://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900);
/* font-family: 'Cinzel Decorative', cursive; */

@import url(http://fonts.googleapis.com/css?family=Poller+One);
/* font-family: 'Poller One', cursive; */

/* ----------------- Reset all styles ----------------- */
*{	
	margin:0;
	padding:0;
	border:0;
}

body {
	background-color:#eeeeee;
	/*font-family: "Nova Square", cursive;*/
    font-size: 48px;
    min-height: 800px;
}

.wrapper {
	margin: auto;
	width: 95%;
	min-height: auto;
}

#index-wrapper {
	width: 1000px;
	background-color: rgba(255,255,255,0);
}

#about-wrapper {
	width: 80%;
	background-color: rgba(0, 52, 102, 1);
}

#media-wrapper {
	background-color: none;
	height: fill;
}

#welcome-title {
	position: relative;
	width: 600px;
	height: fill;
	background-color: rgba(150,70,90,0); /* currently not being used */
	text-align: center;
	font-family: 'Oswald', sans-serif, bold;
	color: white;
	font-size: 1.5em;
	text-shadow: 1px 1px 3px black;
	z-index: 100;
	/*background-image: url(../img/Desert.jpg);*/
}

#welcome-title-index-container {
    position: relative;
    margin: auto;
}

#welcome-title-index {
	position: absolute;
	left: 150px; /* this could potentially cause problems */
	width: 600px;
	height: fill;
	top: 50px;
	background-color: rgba(150,70,90,0); /* currently not being used */
	text-align: center;
	font-family: 'Oswald', sans-serif, bold;
	color: white;
	font-size: 1.2em;
	text-shadow: 0px 0px 20px black;
	z-index: 100;
	/*background-image: url(../img/Desert.jpg);*/
}

.centerall {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
}



/***** This is for the sections in the document *******/

#homebg {
	margin: auto;
	max-width: 800px;
	height: 150px;
}

#index-homebg {
	margin: auto;
	width: 1000px;
	height: 450px;
}

#homesection {
	width: 1000px;
	height: fill;
	margin: auto;
}


/********* START FOR SLIDESHOW *************/

#ulss {
    list-style:none;
    margin: 20px 0px 0px 450px;
    padding:0px;
}

#ulss li {
    float:left;
    border-radius:10px;
    width:10px;
    height:10px;
    margin: 0px 5px 0px 5px;
    /* border:1px solid grey; */
    background:white;
}
#ulss li.active {
    background-color:black;
}

#slideshow {
	margin: auto;
    position: relative;
	width: 1000px;
	height: 100%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	overflow: hidden;
}
#slideshow > div {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
#slideshow img {
    max-width: 120%;
    min-width: 100%;
}

/********* FOR SLIDESHOW END *************/

#add-homesection {
	width: 1000px;
	height: fill;
	overflow: hidden;
	margin: auto;
	background-color: rgba(0, 34, 66, 1);
	border-radius: 2px;
	box-shadow: 5px 0px 10px rgba(0,0,0,0.4);
}

#media-homesection {
	width: 870px;
	height: fill;
	overflow: hidden;
	margin: auto;
	background-color: rgba(0, 34, 66, 1);
}

#mod-homesection {
	width: 870px;
	height: fill;
	overflow: hidden;
	margin: auto;
	background-color: rgba(0, 34, 66, 1);
}

#about-homesection {
	width: fill;
	height: fill;
	overflow: hidden;
	margin: auto;
	background-color: rgba(0, 34, 66, 1);
}

/******* START styling for NAVIGATION Bar *******/

nav {
	width: 100%;
	height: fill;
	background-color: #003466;
}

#nav-heading {
	color: white;
	font-size: 70%;
	display: inline;
	text-align: center;
	margin-left: 30%;
	font-family: 'Josefin Sans', 'sans-serif';
}

#nav-login {
	color: rgba(255,255,255,0.8);
	font-size: 30%;
	display: inline;
	float: right;
	margin: 10px 20px 10px 20px;
	font-family: 'Poiret One', 'cursive';;
}

#nav-login a{
	color: lightblue;
	font-style: normal;
}

#moderator, #add-content {
	font-family: 'Quicksand', 'sans-serif'; 
	font-size: 80%;
	color: white;
	padding-left: 20px;
	position: fixed;
	right: 0%;
	width: 50px;
	height: 50px;
	text-align: center:
	border-radius: 10px;
}

#mod-heading {
	color: grey;
	font-size: 80%;
	text-align: center;
}

#moderator {background-color: rgba(255,12,10,1);}

#add-content {
	margin-top:70px;
	background-color: rgba(0,35,255,1);
}

.add-content-body {
    background-color: rgba(0,42,90,0.9);
}

#moderator p {
	margin: auto;
	text-align: center:
}

#moderator:hover{
	width: 150px;
	font-size: 35%;
	text-align: center;
}
#add-content:hover{
	width: 150px;
	font-size: 35%;
	text-align: center;
	vertical-align: middle;
}


a:link {text-decoration:none; color:black;}
a:visited {text-decoration:none;color:black;}
a:hover {text-decoration: none; opacity: 0.8;}
a:active {text-decoration: none; color:black;}

/******* END styling for NAVIGATION Bar *******/


/***** styling the aside's within the sections ****/

.section-heading p{
	text-align: center;
	/*font-family: 'Lobster', 'cursive'; */
	font-family: 'Poiret One', 'cursive'; 
	font-style: italic;
	font-size: 70%;
	color: white;
}

.section-heading h2 {
	text-align: center;
	font-size: 50%;
	font-style: italic;
	margin:10px;
}

.section-heading h2 {
	color: white;
	font-family: 'Poiret One', 'cursive'; 
}

/***** Slide styling ******/

#slide1 {
	margin: auto;
	background-color: rgba(120,120,120,0);
	max-width: fill;
	height: 100%;
	/* box-shadow: 5px 0px 10px rgba(0,0,0,0.4); */
}


#slide-content {
	position: relative;
	width: 870px;
	height: 100%;
	margin: auto;
	background-color: rgba(255,255,255,0);
}

#media-slide-content {
	position: relative;
	width: 870px;
	min-height: 0px;
	margin: auto;
	background-color: rgba(255,255,255,1);
}

#slide-content img {
	width: 230px;
	height: 180px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
	border-radius: 20px;
}

#user-div img {
	height: 70px;
	width: 70px;
	border-radius: 35px;	
}

#slide-content p{
	font-size: 25%;
	text-align: center;
}

#slide-content h2{
	font-size: 35%;
	text-align: center;
}

#end-res {
    position: relative;
    height: 20px;
    width: 870px;
    background-color: rgba(123,123,10,0);
    text-align: center;
    color: grey;
    font-size: 0.35em;
}

/****** END Slide styling  **************/

/********** START styling for img-content ************/
#img-content {
	font-family: 'Raleway', 'sans-serif';
	position: relative;
	width: 870px;
	height: fill;
	margin: auto;
	background-color: rgba(33, 99, 164, 1);
}



#img-content p{
	color: rgba(30,10,255,0.5);
	text-align: center;
}

/********** END styling for img-content ************/

/** general styling **/

.align-center {
	margin: auto 0px 0px 0px 0px;
}

.content-box {
	width: 250px;
	height: 260px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(100,100,100,0);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 20px;
}

.content-box:hover {
	opacity: 0.999;
}

.content-box img {
	max-height: 180px;
	max-width: 230px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
	border-radius: 30px;
}

.content-box p{
	font-size: 30%;
	text-align: center;
	max-height: 40px;
}
.content-box h2{
	font-size: 40%;
	text-align: center;
}

#search-box {
	margin-left: 180px;
	width: 400px;
	height fill;
	background-color: rgba(33, 99, 164, 1);
	font-size: 0.4em;
	color: white;
	padding: 20px;
}

#search-box p {
    color: white;
}

.search-bar {
	margin: 0px 0px 0px 0px;
	width: 200px;
	height: 20px;
	float: right;
	
}

#add-image-button {
	margin-left: 10px;
}

.button {
	margin: auto;
	text-align: center;
	color: white;
	font-size: 1em;
	font-family: 'Raleway', 'sans-serif';
	background-color: rgba(250,100,60,0.5);
}

.mod-buttons {
	margin: 10px 250px 20px 250px;
	width: fill;
	height: fill;
	display:inline;
	overflow: hidden;
	background-color: rgba(255,255,0,0);
	font-family: 'Raleway', 'sans-serif';
	color: white;
	font-size: 30%;
}


.mod-buttons div:hover {opacity: 0.9;}
.mod {
	position: relative;
	opacity: 1;
	z-index: 99;	
}
#mod-accept, #mod-reject {
	display: inline;
	font-family: 'Raleway', 'sans-serif';
	text-align: center;
	width: 70px;
	height: 100px;
	border-radius: 50px;
	padding: 10px;
}

#mod-reject { background-color: rgba(250,100,60,1); }
#mod-accept { background-color: rgba(50,250,0,1); }


.right {
	position: absolute;
	top: 50%;
	right: 20%;
	transform:translate(0,-50%);
	-webkit-transform:translate(0,-50%);
}

/******* start added-content box ************/

.added-content {
	width: 460px;
	height: 250px;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(50,50,190,0.3);
	margin: 20px 10px 20px 0px;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 20px;
}

.added-content p {
	margin: 20px;
	font-size: 80%;
}



#userimg {
	border-radius: 50px;
	width: 80px;
	height: 80px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
}

.user-image {
    border-radius: 50px;
	width: 80px;
	height: 80px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
}

.added-image {
    display:inline;
}

.added-content-mod {
    border-radius: 20px;
	max-width: 800px;
	margin: auto;
	overflow: hidden;
}

.added-content-mod p{
	max-width: fill;
	margin: 10px auto;
	overflow: hidden;
}

#user-span {
	color: rgba(255,255,0,0.7);
	font-style: italic;
}

.user {
	position: fixed;
	height: 100px;
	width: 220px;
	z-index: 11;	
}

.user-image {
	display: inline;
	left: 0%;
	width: 50px;
	height: 50px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
	border-radius: 250px;
}

.user h6 {
	font-size:10px;
	font-family: 'Raleway', 'sans-serif';
	display: inline;
	color: lightblue;
	font-style: italic;
	margin: 0px 0px 0px 0px;
}

/******* END added-content box ************/


/****** START LOGIN/LOGOUT BOXES ******/

#login {
	background-color:  rgba(0, 52, 102, 1);
}

.login-box, .add-content-box {
	background-color: rgba(0, 44, 94, 0.8);
	/* background-color: rgba(255, 255, 255, 0.2);*/
	color: white;
	font-size: 30%;
	font-family: 'Raleway', 'sans-serif';
	border-radius: 0px 0px 10px 10px;
	text-align: center;
	padding: 10px;
	margin: auto;
	box-shadow: 0px 0px 10px rgba(0, 40, 90, 1) inset;
}

.login-box {
    width: 550px;
}

.add-content-box {
    width: 800px
}

#login-heading, #add-content-heading {
	text-align: center;
	background-color: rgba(0, 44, 94, 0.8);
	box-shadow: 0px 0px 10px rgba(0, 40, 90, 1) inset;
	color: white;
	font-size: 30%;
	font-family: 'Raleway', 'sans-serif';
	padding: 10px;
	border-radius: 10px 10px 0px 0px;
	margin: auto;
}

#login-heading {
    width: 550px;
}

.members-parent {
	position:fixed;
	height: fill;
	width: fill;
	margin: auto;
}

#members {
	position: relative;
	height: fill;
	width: fill;
	margin-left: 25%;
}

#add-content-heading {
    width: 800px
}

input {
	float:left;
	width: 200px;	
}

.container {
	/* background-color: rgba(255, 254, 94, 0.3);  for testing */
	position: relative;
	margin: 10px auto;
	margin-top:10px;
	width: fill;
	min-height: 300px;
	padding: 10px;
}

.container form {
	margin-left: 100px;
}


#register-redirect {
	padding: 10px;
	width: 500px;
	margin: auto ;
}


#register-redirect-button {
  background: #003566;
  background-image: -webkit-linear-gradient(top, #003566, #2980b9);
  background-image: -moz-linear-gradient(top, #003566, #2980b9);
  background-image: -ms-linear-gradient(top, #003566, #2980b9);
  background-image: -o-linear-gradient(top, #003566, #2980b9);
  background-image: linear-gradient(to bottom, #003566, #2980b9);
  -webkit-border-radius: 13;
  -moz-border-radius: 13;
  border-radius: 13px;
  font-family: 'Raleway', 'sans-serif';
  color: #ffffff;
  font-size: 20px;
  padding: 10px 80px 10px 80px;
  text-decoration: none;
}

#register-redirect-button:hover, #submit-button:hover {
  background: #003566;
  background-image: -webkit-linear-gradient(top, #003566, #2162a4);
  background-image: -moz-linear-gradient(top, #003566, #2162a4);
  background-image: -ms-linear-gradient(top, #003566, #2162a4);
  background-image: -o-linear-gradient(top, #003566, #2162a4);
  background-image: linear-gradient(to bottom, #003566, #2162a4);
  text-decoration: none;
}

#submit-button {
	width: 100px;
	height: 20px;
	margin: 0px;
	background: #003566;
	background-image: -webkit-linear-gradient(top, #003566, #2980b9);
	background-image: -moz-linear-gradient(top, #003566, #2980b9);
	background-image: -ms-linear-gradient(top, #003566, #2980b9);
	background-image: -o-linear-gradient(top, #003566, #2980b9);
	background-image: linear-gradient(to bottom, #003566, #2980b9);
	-webkit-border-radius: 13;
	-moz-border-radius: 13;
 	 border-radius: 13px;
	font-family: 'Raleway', 'sans-serif';
	text-decoration: none;
}

#logout {
	text-align: center;
	width: 400px;
	height: 200px;
	font-family: 'Raleway', 'sans-serif';
	color: white;
	font-size: 60%;
}

#logout a {
	color: rgba(0, 34, 66, 1);
}

/****** LOGIN/LOGOUT BOXES END ******/

/****** styling for the about page START *****/
#about-body p {	
	font-size: 0.3em;
	color: white;
	font-family: 'Raleway', 'sans-serif';
}

#about-body h2{	
	font-size: 1em;
	color: white;
	font-family: 'Raleway', 'sans-serif';
}

.media-body {
	background-color: white;	
}

.caption {
	font-size: 0.25em;
	text-align: center;
	font-family: 'Raleway', 'sans-serif';
	color: white;
}

.section-about div {
	margin: auto 0px;
	width: 100%;	
}

.slide-content {
	width: 100%;
	min-height: fill;
	background-color: rgba(120,120,0,0);
	text-align: center;
}

.slide-content p {
	margin:10px;	
}

.section-about a {
	color: yellow;
}

/****** Styling for the about page END *****/

/****** dropping files start     ************/
.dropzone {
	width: 150px;
	min-height: 150px;
	background-color: rgba(120,120,120,0.8);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 10px rgba(60,60,60,0.5) inset;
	text-align: center;
	vertical-align: center;
	
}
/****** dropzone end ********/

.grad
{
background: -webkit-linear-gradient(rgba(0, 52, 102, 1),rgba(0, 52, 102, 0)); /*Safari 5.1-6*/
background: -o-linear-gradient(rgba(0, 52, 102, 1),rgba(0, 52, 102, 0)); /*Opera 11.1-12*/
background: -moz-linear-gradient(rgba(0, 52, 102, 1),rgba(0, 52, 102, 0)); /*Fx 3.6-15*/
background: linear-gradient(rgba(0, 52, 102, 1),rgba(0, 52, 102, 0)); /*Standard*/
}

.grad-white
{
background: -webkit-linear-gradient(rgba(0, 52, 102, 0.7), rgba(255, 255, 255, 0)); /*Safari 5.1-6*/
background: -o-linear-gradient(rgba(0, 52, 102, 0.7), rgba(255, 255, 255, 0)); /*Opera 11.1-12*/
background: -moz-linear-gradient(rgba(0, 52, 102, 0.7)rgba(0, 52, 102, 1), rgba(255, 255, 255, 0)); /*Fx 3.6-15*/
background: linear-gradient(rgba(0, 52, 102, 0.7),rgba(255, 255, 255, 0)); /*Standard*/
}

.txt-box {
	position: relative;
	width: 100%;
	height: 100%;
	float:left;
	display:inline;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	margin: 20px;
	font-family: 'Raleway', 'sans-serif';
}

.txt-box h2 {
	color: white;
	font-size: 50%;
	font-family: 'Raleway', 'sans-serif';
	text-align: center;
	margin: 10px;
}

.txt-box p {
	color: white;
	font-size: 30%;
	font-family: 'Raleway', 'sans-serif';
	margin: 10px;
}


#userimg {
	border-radius: 50px;
	width: 80px;
	height: 80px;
	margin: 10px 10px 0px 10px;
	overflow: hidden;
}



#user-span {
	color: rgba(255,255,0,0.7);
	font-style: italic;
}


.user-info {
	font-size: 30%;
	color: rgba(255,255,0,0.7);
	display: inline;
}

.date {
	color: lightblue;
	font-size: 30%;
	display: inline;
}

#g-audience-links a {
	font-size: 1.3em;
	padding: 10px;
}

/* melb uni colours:
melbourne university colours:
dark: #002242 - rgba(0, 34, 66, 1)
medium dark: #13304D - rgba(19, 48, 77, 1)
normal: #003466 (main) - rgba(0, 52, 102, 1)
mediumling: #2163A4 - rgba(33, 99, 164, 1)
light: #3E7AB4 - rgba(62, 122, 180, 1)
*/
